@font-face {
  font-family: "myriad";
  font-weight: 500;
  src: url("../fonts/MyriadPro-Regular.woff") format("woff");
}

@font-face {
  font-family: "myriad";
  font-weight: 700;
  src: url("../fonts/MyriadPro-bold.woff") format("woff");
}
