// colors

$pink: #d33862; // no, contact text
$gray: #a09fa7;
$dark-blue: #283645; // text
$green: #189d5b; // yes
$light-gray: #f4f4f4; // background
$black: #000000;
$white: #ffffff;


// font

$ff: "myriad", arial, helvetica, sans-serif;