.table {
    background-color: $light-gray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px;
}

.table__table {
	display: table;
    width: 100%;
    width: 1100px;
    border: none;
    text-align: center;
}

.table__row {
	display: table-row;
}

.table__cell {
    width: 255px;
    height: 60px;
    @include text ($ff, $dark-blue, 18px, 500, 30px);
    background-color: $white;
    border: 1px solid $light-gray;
	display: table-cell;
    padding: 5px 10px;
    position: relative;
}

.table__img {
    position: absolute;
    top: 25%;
}

.table__cell--name {
    background-color: $dark-blue;
    @include text ($ff, $white, 24px, 700, 30px);
    padding: 20px 35px 20px 35px;
}


.table__cell-none {
    background-color: $light-gray;
}
